  :root {
      --tt-dark-color: #212121;
      --tt-light-color: #e9e9e9;
      --tt-primary-color: #001E43;
      --tt-secondary-color: #ff993b;
  }

  body {
      background-color: black ;
  }

  main>.container {
      padding: 60px 15px 0;
      margin-bottom: 5rem;
      min-height: 90vh;
  }

  main{
      color:rgb(0, 222, 252) !important;
  }
 
  /*-- Navbar Styles --*/
  .navbarBG {
      background-color:rgb(0, 0, 0);
  }

  a.navbar-brand{
      color:rgb(0, 222, 252) !important;
  }

  a.nav-link{
      color: rgb(0, 222, 252) !important;
  }

  .jsicon {
      color: rgb(226, 211, 4);

  }

  .bootstrapicon {
      color: #55008d
  }

  .html5icon {
      color: #ca4305
  }

  .css3icon {
      color: #1881e4
  }

  .checklisticon {
      color: rgb(216, 216, 29)
  }

  .btn-outline-primary {
      color: rgb(0, 222, 252) !important;
      border-color: black !important;
  }

  .btn-outline-primary:hover,
  .btn-outline-primary:active,
  .btn-oultine-primary:focus {
      border-color: black;
      background-color: rgb(0, 222, 252) !important;
   
  }

  .btn-primary {
      color:black !important;
      background-color: rgb(0, 222, 252) !important;
      border-color: black
  }

  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      filter: brightness(1.1) !important;
      border-color: black
  }


  /*-- Footer Styles --*/
  .footer {
      background-color: black;
      padding-right: 1rem;
      color: rgb(0, 222, 252) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      color: var(--tt-dark-color)
  }

  .fizz {
      color: green;
      font-weight: bold;
  }

  .buzz {
      color:red;
      font-weight: bold;
  }

  .fizzBuzz {
      color: goldenrod;
      font-weight: bold;
  }


  .sticky-footer {
      position: sticky;
      left: 0;
      bottom: 0;
      width: 100%;
  }

  footer .social>a {
      color: rgb(0, 222, 252) !important;
      
      opacity: .75;
  }

  footer .social>a:hover {
      color: var(--tt-secondary-color);
      opacity: .90;
  }